/01_status_pesanan.png
/02_aktor_pembatalan.png
/03_pareto_alasan.png
/04_payment_vs_cancel.png
/05_tren_bulanan.png
/06_provinsi_cancel.png
/07_distribusi_numerik.png
/08_heatmap_korelasi.png
/09_model_evaluation.png
/10_feature_importance.png
/11_model_comparison.png
/DSS (1).pdf
/fuzzy.pdf
/main.ipynb
/Naive Bayes.pdf
/soal.jpeg